body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
    background-color: rgb(94, 43, 41);
    margin-left: 20px;
    margin-right: 20px}

.title {text-align: center;
border: 5px outset white;
background-color: black;
margin-left: 50px;
margin-right: 50px;}


img {margin: 10px;
border: 4px solid rgb(168, 65, 65); box-shadow: 4px 4px 12px rgba(0,0,0,0.2)}

.terios {float: right; width: 390px; position: relative; bottom: 50px;}
.shadow-pixels {float: right; position: relative; bottom: 50px; border-style: none;}
.dreamcast {float: right; position: relative; width: 250px;}
.ce {width: 70px; border-style: none;}
.st {float: left; width: 420px;}
.car {width: 300px; float: left; margin: 20px;}

.center {text-align: center;}
.powers {margin: 10px;}
ul {padding-left: 500px; padding-bottom: 80px;}

th, td {border: 3px solid black;
text-align: center;}
table {margin: auto; border: 3px solid black;}


a {color: red;}
